@import "@dynamic-framework/ui-react/src/style/abstracts/+import";

.transfer-template,
.d-portal {
  @include media-breakpoint-down(md) {
    .modal-body .d-input-pin {
      --#{$prefix}input-pin-form-control-size: var(--#{$prefix}ref-spacer-10);
    }
  }

  .quick-action-button,
  .new-contact-link {
    background: transparent;
    &:hover {
      text-decoration: none;
      background: var(--bs-gray-50);
    }
  }

  .accounts {
    .d-quick-action-button {
      --bs-quick-action-button-representative-image-size: 2rem;
      --bs-quick-action-button-padding: .5rem;
      --#{$prefix}quick-action-button-border-radius: 0;
      --#{$prefix}quick-action-button-border-right: 0;
      --#{$prefix}quick-action-button-border-left: 0;
      --#{$prefix}quick-action-button-border-bottom: 0;
    }
  }
}
