@import "@dynamic-framework/ui-react/src/style/abstracts/+import";

.transfer-template,
.d-portal {
  .quick-action-button,
  .new-contact-link {
    background: transparent;
    &:hover {
      text-decoration: none;
      background: var(--#{$prefix}gray-50);
    }
  }
}
